<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="File_RougeDAO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <File_RougeDAO.Properties.Settings>
            <setting name="InfoConnexion" serializeAs="String">
                <value>Data Source=176.31.114.215;Initial Catalog=user11;Persist Security Info=True;User ID=user11;Password=147user11</value>
            </setting>
        </File_RougeDAO.Properties.Settings>
    </userSettings>
</configuration>